<div class="cards">
  <div class="card-product">
    <img src="https://www.myluxury.it/img/2021/10/Volkner-Mobil-Performance-S.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
