
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.euronews.com/articles/stories/05/70/42/22/1100x619_cmsv2_6059b764-ac5f-5f08-baee-c55d929f1b29-5704222.jpg);">
  <div class="container">
    <p>Rent a Camper Van with Camperent</p>
  </div>
</div>
<div class="cards">
  <% @campers.each do |camper| %>
    <% if camper.availability  %>
      <div class="card-product">
        <img src=<%=camper.photo_url%> />
        <div class="card-product-infos">
          <h2><%= camper.model %></h2>
          <ul>
            <% camper.description.delete("[]\"").split(',').each_with_index do |item , i| %>
              <li><%= item %></li>
              <% break if i >= 6 %>
            <% end  %>
          </ul>
          <h3><%= camper.price %>€</h3>
        </div>
      </div>
    <% end  %>
  <% end %>
</div>
