
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.euronews.com/articles/stories/05/70/42/22/1100x619_cmsv2_6059b764-ac5f-5f08-baee-c55d929f1b29-5704222.jpg);">
  <div class="container">
    <p>Rent a Camper Van with Camperent</p>
  </div>
</div>

