<%= render "components/search" %>
<div class="container mt-4">
  <div class="row">
    <h1 style="color:#064635; padding-top:16px;">My Campers </h1>
    <div class="cards">
      <%= render "components/card_edit" %>
    </div>
  </div>

</div>
